body {
  margin: 0;
  border: 12px solid black;
}
.name {
  font-size: 60px;
  height: 20px;
  position: relative;
  text-align: center;
  margin: auto;
  font-family: anton;
  top: 190px;
}
.subtitle {
  font-family: Source Code Pro;
  font-size: 30px;
  height: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 250px;
  margin-top: 15px;
  animation-name: shining;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.subtitle:hover {
  cursor: pointer;
}
@keyframes shining {
  0% {
    color: black;
  }

  100% {
    color: rgb(226, 66, 74);
  }
}
.button-linked {
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  border: 2px solid black;
  font-family: Source Code Pro;
  font-size: 1.5em;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin: 8px;
  color: black;
  padding: 0.3em;
  text-decoration: none;
}
.button-github {
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  border: 2px solid black;
  font-family: Source Code Pro;
  font-size: 1.5em;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin: 8px;
  color: black;
  padding: 0.3em;
  text-decoration: none;
}
.button-resume {
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  border: 2px solid black;
  padding: 10px 30px;
  font-family: Source Code Pro;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 8px;
  color: black;
  padding: 0.3em;
  text-decoration: none;
}
.button-fcc {
  background-color: white;
  border-radius: 100px 100px 100px 100px;
  border: 2px solid black;
  font-family: Source Code Pro;
  font-size: 1.5em;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 8px;
  color: black;
  padding: 0.3em;
  text-decoration: none;
}
a:hover {
  border: 5px solid black;
}
.buttonsss {
  text-align: center;
  position: relative;
  margin: auto;
  top: 300px;
}
